{% comment %}

	You will need django-sekizai installed to use this as-is.
	If you don't want to use django-sekizai to automatically
	place your script tags after your body, you will need to
	manually include:

		1. the modal HTML
		2. the core JavaScript
		3. any custom initialization of the JavaScript
		4. the actual initialization trigger

	You will also need to have included jQuery (whichever
	version you prefer) somewhere else in your page, before
	you load the core JavaScript.

{% endcomment %}
{% load sekizai_tags %}
{% addtoblock "js" %}
	{% block sculpt_modal %}{% include "sculpt_ajax/modal.html" %}{% endblock %}
	<script type="text/javascript" src="/static/sculpt_ajax/sculpt_ajax.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}{% block sculpt_js_init %}{% endblock %}{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript">Sculpt.init();</script>{% endaddtoblock %}
